<div class="page-content">
    <div class="product-page">
	<div class="product-desc">
		<div class="product-desc-image">
			<!--<img src={{%IMAGE%}} width="280" height="320">-->
		</div>
			<div class="product-details-info">
				<h1>{{%TRANSACTIONID%}}</h1>
				
				<div class="product-desc-details">
					<h3">Details</h3>
					<p class="product-desc-p">{{%DATE%}}</p>
					<p class="product-desc-p"><b>SENDER</b>{{%USERSENDINGNAME%}}</p>
					<p class="product-desc-p"><b>RECEIVER</b>{{%USERRECEIVINGNAME%}}</p>
					<p class="product-desc-p"><b>AMOUNT</b>{{%AMOUNT%}} GB</p>
				</div>
				<div class="product-details-desc">
					<h3>Description</h3>
					<p class="product-desc-p">
						{{%DISCRIPTION%}}
					</p>
				</div>
			</div>
			<div>
				<a href="/products" class="btn-back">Back</a>
			</div>
		</div>
	</div>
 </div>